:root {
    --main: #181f25;
}
html {
    scroll-behavior: smooth;
}
html,body { height: 100%; padding: 0; margin: 0; 
    font-family: 'Zen Dots', cursive;}

/*! Begin Navbar */
.navbar {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1;
}
/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #FFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change background on mouse-over */
.navbar a:hover {
    background: #333;
    color: #FFF;
}

/*! Universal Content Display */
.content {
    padding-top: 50px; /* Add a top margin to avoid content overlay */
    padding-bottom: 50px;
    margin: 0px 15% 0px 15%;
    font-size: 20px;
}

/*! Home */
#Home {
    height: 85%;
    width: 100%;
    min-width: 500px;
    color: #FFF;
    background:  linear-gradient(rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.85)), url("https://www.visitnorman.com/uploads/The-University-of-Oklahoma/Campus/ou_lib.jpg") no-repeat center center fixed;
    background-size: cover;
    z-index: 0;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 5px 5px 10px black;

    /**animation: slideshow 30s infinite forwards running ease-in-out
*/}
@keyframes slideshow {
	0% {
		background: linear-gradient(rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0.85)), url("https://www.visitnorman.com/uploads/The-University-of-Oklahoma/Campus/ou_lib.jpg") no-repeat center center fixed;
    } 20% {
		background: linear-gradient(rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0.85)), url(https://images.unsplash.com/photo-1517420704952-d9f39e95b43e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80) no-repeat center center fixed;
    } 40% {
		background: linear-gradient(rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0.85)), url(https://images.unsplash.com/photo-1623815145664-6b4b468ed7c8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80) no-repeat center center fixed;
    } 60% {
		background: linear-gradient(rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0.85)), url(https://images.unsplash.com/photo-1619420880175-1518c6a5ce89?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1887&q=80) no-repeat center center fixed;
    } 80% {
		background: linear-gradient(rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0.85)), url(https://images.unsplash.com/photo-1563986768711-b3bde3dc821e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1948&q=80) no-repeat center center fixed;
    } 100% {
		background: linear-gradient(rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0.85)), url(https://images.unsplash.com/photo-1625314868143-20e93ce3ff33?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80) no-repeat center center fixed;
    }
}

#About {
    color: black;
}

body #trans0, html #trans0 {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    background: linear-gradient(rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.75)), url("https://images.unsplash.com/photo-1554911940-05efc1892bc5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80") no-repeat center center fixed;
    background-size: cover;
}
body #trans0 .center0, html #trans0 .center0 {
    height: 300px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 5px 5px 10px black;
}


#Projects {
    color: white;
    background: var(--main);
} 
#cards {
    display: flex;
    justify-content: center;
    align-items: center;
}
#card0 {
    font-size: 10px;
    height: 250px;
    width: 200px;
    background: var(--main);
    text-align: center;
    transition: all 1s;
    margin: 20px;
}
#card0 p {
    text-indent: 0px;
}
#card0:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 3px 2px #000;
}
body #trans1, html #trans1 {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    background: linear-gradient(rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.75)), url("https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80") no-repeat center center fixed;
    background-size: cover;
}
body #trans1 .center1, html #trans1 .center1 {
    height: 300px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 5px 5px 10px black;
}
 
#SkillSets {
    color: black;
}
#SkillSets ul {
    list-style: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
#SkillSetsEnd h5 {
    color: white;
    text-decoration: underline;
}

h2, h3, p {
    padding: 0;
    margin: 0;
}
h3 {
    color: #900;
}
p {
    text-indent: 50px;
}
.sub {
    color: grey;
}
hr {
    border-top: 1px solid grey;
    border-bottom: none;
}

#End {
    background: black;
    color: #FFF;
    padding: 30px;
    text-align: center;
}
